@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
   font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: relative;
    width: 55%;
    height: 75%;
    background: #fff;
    box-shadow: 0rem 0rem 3.125rem -0.0625rem rgb(0, 0, 0, .5);
    padding: 0rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

header .logo {
    position: absolute;
    top: 0;
    left: 10%;
    width: 15.625rem;
    height: 21.875rem;
    background: #282828;
    transition: 1s linear;
}

header .logo h1{
    color: #fff;
    text-align: center;
    margin-top: .3125rem;
    font-size: 1.5625rem;
    font-weight: 600;
}

header .logo img {
    width: 18.75rem;
    margin: 1.25rem 0rem 0rem -1.875rem;
    filter: drop-shadow(0rem 0rem 1.25rem rgba(0, 0, 0, .9));
}

header nav {
    width: 100%;
    height: 10%;
    /* border: .0625rem solid #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .menu {
    font-size: 1.5625rem;
    color: #000;
}

header nav .right-menu {
    display: flex;
    align-items: center;
}

header nav .right-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header nav .right-menu ul li {
    padding: .1875rem .625rem;
}

header nav .right-menu ul li a {
    position: relative;
    text-decoration: none;
    font-size: .6875rem;
    font-weight: 600;
    color: #000;
    transition: .3s linear;
}

header nav .right-menu ul li a::before {
    content: '';
    position: absolute;
    width: .25rem;
    height: .25rem;
    background: #dc1313;
    border-radius: 50%;
    bottom: -0.3125rem;
    left: 45%;
    opacity: 0;
    transition: .3s linear;
}

header nav .right-menu ul li a:hover {
    color: #dc1313;
}

header nav .right-menu ul li a:hover::before {
    opacity: 1;
}

header nav .right-menu .user-cart {
    margin-left: 3.125rem;
    display: flex;
    align-items: center;
}

header nav .right-menu .user-cart .user {
    position: relative;
    width: 1.0625rem;
    height: 1.0625rem;
    border-radius: 50%;
    margin-left: .625rem;
}

header nav .right-menu .user-cart .user img {
    width: 100%;
}

header nav .right-menu .user-cart .user::before {
    content: '';
    position: absolute;
    width: .3125rem;
    height: .3125rem;
    background: #dc1313;
    border-radius: 3.125rem;
    top: 0%;
    right: 0%;
    z-index: 9999;
}

header .left-menu {
    width: 1.25rem;
    height: 90%;
    /* border: .0625rem solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header .left-menu a {
    margin: 1.875rem 0;
    padding: 0 .3125rem;
    text-decoration: none;
    font-size: .625rem;
    color: #000;
    font-weight: 600;
    transition: .3s linear;
    transform: rotate(-90deg);
}

header .left-menu a:hover {
    color: #dc1313;
}

header section {
    width: 97%;
    height: 90%;
    /* border: .0625rem solid greenyellow; */
}

header section .content {
    position: relative;
    left: 23.125rem;
    margin-top: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    transition: 1s linear;
}

header section .content h1 {
    font-size: 2.5rem;
    transition: 1s linear ;
}

header section .content p {
    font-size: .625rem;
    font-weight: 600;
    width: 18.125rem;
    word-break: break-all;
}

header section .content .price-order {
    display: flex;
    align-items: center;
    margin-top: .625rem;
}

header section .content .price-order .price h2 {
    font-size: 1.25rem;
    color: #dc1313;
    line-height: 1.125rem;
}

header section .content .price-order .price p {
    font-size: .3438rem;
    width: 3.125rem;
    /* border: .0625rem solid #000; */
}

header section .content .price-order a {
    padding: .25rem 1.25rem;
    background: #121213;
    color: #fff;
    text-decoration: none;
    font-size: .875rem;
    margin-left: 2.1875rem; border-radius: 10px 10px 50px 50px / 10px 10px 50px 50px;
}

header section .cards {
    width: 90%;
    height: 8.75rem;
    /* border: .0625rem solid #000; */
    position: relative;
    top: 20%;
    padding-left: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    scroll-behavior: smooth;
    transition: 1s linear;
}

header section .cards::-webkit-scrollbar {
    display: none;
}

header section .cards .card {
    position: relative;
    min-width: 7.8125rem;
    min-height: 7.8125rem;
    border: .0625rem solid #000;
    margin-right: .8125rem;
    background: #282828;
    border-radius: 3.125rem .625rem .625rem .625rem;
}

header section .cards .card:nth-last-child(1) {
    margin-right: 0rem;
}

header section .cards .card .dis {
    width: 70px;
    position: relative;
    top: -5p;
    left: -0.3125rem;
}

header section .cards .card .steam {
    width: 60px;
    height: 80px;
    position: absolute;
    top: -35px;
    left: -5px;
}

header section .cards .card h4 {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
}

header section .cards .card h5 {
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    padding: 0 10px;
    margin-top: -8px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

header section .cards .card p {
    color: rgb(203, 203, 203);
    font-size: 9px;
    font-weight: 500;
    padding: 0px 10px;
}

header section .cards .card .rate-cart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    color: #fff;
}

header section .cards .card .rate-cart h6 {
    font-size: 10px;
}

header section .cards .card .rate-cart .bi {
    font-size: 17px;
}

header section .social {
    position: relative;
    width: 100%;
    border: .0625rem solid n#000;
    top: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 1s linear;
}

header section .social .btns {
    margin-left: 1.875rem;
}

header section .social .btns .bi {
    font-size: .8125rem;
    cursor: pointer;
    transition: .3s linear;
}

header section .social .btns .bi:hover {
    color: rgb(0, 0, 0, .5);
}

header section .social .icons {
    display: flex;
    align-items: center;
}

header section .social .icons a {
    font-size: .75rem;
    margin-left: .625rem;
    color: #282828;
    transition: .3s linear;
}

header section .social .icons a:hover {
    color: #000;
}

